<h1 class="display-4" style="margin-top: 20px">Agendamentos
</h1>
<hr style="border-color: #aaaaaa; box-sizing: border-box; width: 100%"/>




<table class="table">
    <thead class="thead-light">
    <tr>
        <th>Data</th>
        <th>Horário</th>
        <th>Ventilador</th>
        <th>Luz da Sala</th>
        <th>Luz do Quarto</th>
        <th>TV</th>
        <th>Editar</th>
        <th>Remover</th>
    </tr>
    </thead>
    <tbody ng-repeat="----- in -----">
    <tr>
        <td>
            {{-----}}
        </td>
        <td>
            {{----}}
        </td>
        <td>
            {{-----}}
        </td>
        <td>
            {{-----}}
        </td>
        <td>
            {{------}}
        </td>
        <td>
            {{------}}
        </td>
        <td>
            <button class="btn btn-secondary" ng-click="-----" data-toggle="modal"
                    data-target=".bd-example-modal-lg">Editar
            </button>
        </td>
        <td>
            <button class="btn btn-danger" ng-click="-----" data-toggle="modal"
                    data-target=".bd-example-modal-lg">Excluir
            </button>
        </td>
    </tr>
    </tbody>
    </thead>
</table>