<h1 class="display-4" style="margin-top: 20px">SmartHome
</h1>
<hr style="border-color: #aaaaaa; box-sizing: border-box; width: 100%"/>

<div class="card" style="width: 100%; margin-top: 30px">
    <div class="card-body">
        <h4 class="card-title">Nome: Tássio Alves</h4>
        <h4 class="card-title">E-mail: viniciusalves.tva@gmail.com</h4><br>
        <h4 class="card-title">Nome: Thiago Nolasio</h4>
        <h4 class="card-title">E-mail: thiagonolasio@gmail.com</h4><br>
        <h4 class="card-title">Nome:</h4>
        <h4 class="card-title">E-mail:</h4>

    </div>
</div>